<div id="users" class="base_wr column">
	<form class="base_wr column ui form" id="form-create">
    <input-text label="{{ @global.gettext('Nom') }}" form_title="{{@global.gettext("PRIVILÈGE  PRODUIT")}}" name="name" placeholder="{{@global.gettext('Nom')}}" type="text"></input-text>
    <input-text label="{{ @global.gettext('Description') }}" name="description" placeholder="{{@global.gettext('Description')}}" type="text"></input-text>
    <input-dropdown datas="{{privilege_datas}}" other_value_key="" dropdown_text="name" label="{{ @global.gettext(`Sous l'ID du groupe`) }}" name="below_group_id" class="select-group_id" id="below_group_id"></input-dropdown>
    <h3 class="ui dividing header">{{ @global.gettext("ÉLÉMENTS DE PRIVILÈGE") }}</h3>
    {{#privilege_items:i}}
    <table class="ui celled striped table">
		  <thead>
		    <tr><th colspan="4">
		      {{i}}
		    </th>
		  </tr></thead>
		  <tbody>
    		{{#privilege_items[i]:e}}
		    <tr>
		      <td class="left aligned collapsing">
					    <div class="ui checked checkbox">
							  <input type="checkbox" value="{{privilege_items[i][e].key}}">
							  <label></label>
							</div>
		      </td>
		      <td class="left aligned collapsing">{{e}}</td>
		      <td>{{privilege_items[i][e].key}}</td>
		      <td>{{privilege_items[i][e].description}}</td>
		    </tr>
    		{{/privilege_items[i]}}
		  </tbody>
		</table>
    {{/privilege_items}}
    <!-- <p>{{gettext("Note")}} : --</p> -->
    <p></p>
    <div class="base_wr row btn">
      <button class="ui primary button" on-click="@this.handleClick('SUBMIT',{},@event)">{{submit}}</button>
      <button class="ui basic button" on-click="@this.handleClick('BACK',{},@event)">{{@global.gettext("ANNULER")}}</button>
    </div>
  </form>
</div>