<div class="body-content-grid">
    <div class="title">
        <div class="text-group">
            <h3>Tableau de bord</h3>
            <p>Bienvenue Philippe</p>
        </div>
        <div class="ui dropdown filter">
            <div class="text">
                Aujourd’hui
            </div>
            <i data-feather="chevron-down"></i>
            <div class="menu">
                <div class="item">Profile</div>
                <div class="item">Logout</div>
            </div>
        </div>
    </div>
    <div></div>
</div>