<div class="header">
    <div class="left">
        <img src="/public/v2/img/logo.png" alt="">
        <h4>La cuisine de demain</h4>
    </div>
    <div class="right">
        <form>
            <label class="search">
                <input type="text" placeholder="Rechercher">
                <button class="btn btn-dark">
                    <i data-feather="search"></i>
                </button>
            </label>
        </form>
        <a href="#" class="notif">
            <i data-feather="bell"></i>
        </a>
        <div class="ui dropdown user-profile">
            <i data-feather="user"></i>
            <div class="txt">
                <h5>Hello, Philippe!</h5>
                <p>Super Admin</p>
            </div>
            <i data-feather="chevron-down"></i>
            <div class="menu">
                <div class="item">Profile</div>
                <div class="item">Logout</div>
            </div>
        </div>
    </div>
</div>