<div class="top">
    <ul>
        <li class="active">
            <img src="/public/v2/img/dashboard.png" alt="">
            <span>tableau de bord</span>
        </li>
        <li>
            <img src="/public/v2/img/commandes.png" alt="">
            <span>Commandes</span>
            <i><strong>+</strong></i>
        </li>
        <li>
            <img src="/public/v2/img/livraisons.png" alt="">
            <span>Livraisons</span>
            <i><strong>+</strong></i>
        </li>
        <li>
            <img src="/public/v2/img/plats.png" alt="">
            <span>Plats</span>
            <i><strong>+</strong></i>
        </li>
        <li>
            <img src="/public/v2/img/consignes.png" alt="">
            <span>CONSIGNES</span>
            <i><strong>+</strong></i>
        </li>
        <li>
            <img src="/public/v2/img/approvisionnement.png" alt="">
            <span>Approvisionnement</span>
            <i><strong>+</strong></i>
        </li>
    </ul>
</div>
<div class="bottom">
    <ul>
        <li>
            <img src="/public/v2/img/utilisateurs.png" alt="">
            <span>Utilisateurs</span>
            <i><strong>+</strong></i>
        </li>
        <li>
            <img src="/public/v2/img/parametres.png" alt="">
            <span>Paramètres</span>
        </li>
    </ul>
    <div class="social-media">
        <a href="#" target="_blank">
            <img src="/public/v2/img/facebook.png" alt="">
        </a>
        <a href="#" target="_blank">
            <img src="/public/v2/img/instagram.png" alt="">
        </a>
    </div>
    <p>Copyright 2020 La Cuisine de Demain <br>Tous droits réservés</p>
</div>